html {
  box-sizing: border-box;
}

body {
  color: #000000;
  width: 100%;
  max-width: 640px;
  background-color: white;
  margin: 20px;
}

.celek {
  margin: 0;
  width: 100%;
  max-width: 640px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  background-color: #fafafa;

  padding: 0 20px;
}

@media screen and (min-device-width: 640px) {
  .celek {
    width: 100%;
    max-width: 1100px;
  }
}

@media screen and (min-device-width: 1100px) {
  .celek {
    width: 100%;
    position: relative;
  }
}

.traveler {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 350px;
  width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  font-size: 28px;
  line-height: 37px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: grey;
  padding: 0 20px;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;
}

ul {
  padding: 0;
}

.buttony {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.dobrodruzstvi {
  background-color: #407bff;
  border: none;
  border-radius: 30px 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 5% 5% 0px 5%;
  margin-top: 20px;
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.plaz {
  background-color: grey;
  border: none;
  border-radius: 30px 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 5% 5% 0px 5%;
  margin-top: 10px;
  max-width: 220px;
  width: 100%;
  text-align: center;
}

.cestovka,
.uvodtext,
.delegat {
  padding-top: 50px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 17px;
  text-align: left;
  color: grey;
  padding: 15px 20px;
  text-align: center;
}

div .map {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.map img {
  max-width: 45px;
  width: 100%;
  height: 40px;
  padding: 20px;
}

div .cactus {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.cactus img {
  width: 45px;
  height: 40px;
  padding: 20px;
}

div .plane {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.plane img {
  width: 45px;
  height: 40px;
  padding: 20px;
}

div .palm {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.palm img {
  width: 45px;
  height: 40px;
  padding: 20px;
}

div .umbrella {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.umbrella img {
  width: 45px;
  height: 40px;
  padding: 20px;
}

div .rv {
  display: flex;
  height: 80px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px #407bff1f;
  padding: 0 5%;
}

.rv img {
  width: 45px;
  height: 40px;
  padding: 20px;
}
